.card {
    box-shadow: 1px,1px,2px,rgba(0,0,0,0.08);
}
.card-text{
    font-family: "Noto Naskh Arabic"
}
.form-group{
    font-family: "Noto Naskh Arabic"
}
.nav-link{
    font-family: "Noto Naskh Arabic"
}
.btn{
    font-family: "Noto Naskh Arabic"
}
.navbar-brand{
    font-family: "Noto Naskh Arabic"
}